*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: ;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    padding: 20px 100px;
    /* background: #2f00ff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    /* background: linear-gradient(to right, #0222d8, #00afdb);
    background-size: cover;
    background-position: center; */
} 
.logo{
    font-size: 2em;
    color: azure;
    user-select: none;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: rgb(214, 221, 227);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 80px;
    height: 3px;
    background: #e40707;
    border-radius: 1px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #100a0a;
}





